link(rel="stylesheet", href="../../public/assets/css/searchRestaurant.css")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(rel="icon" type="image/x-icon" href="/public/assets/images/favicon.png")
link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap" rel="stylesheet")
html
  head
    title Search for a Restaurant
  body
    include ../partials/header
    main 
      h1.title Search by Borough
      div.search-form-container
        form(action="/api/search" method="POST" class="search-form")
          input(type="text" name="keyword" placeholder="Search Borough" class="search-input")
          button(type="submit" class="search-button") Search
          div.results-container
            if restaurants && restaurants.length
              ul.restaurant-card-container
                each restaurant in restaurants
                  li.restaurant-card.card-grow(id=`restaurant-${restaurant.restaurant_id}`)
                    div.restaurant-details
                      p Restaurant ID: #{restaurant.restaurant_id}
                      p Name: #{restaurant.name}
                      if restaurant.address
                        p Address: 
                          | #{restaurant.address.street} #{restaurant.address.building},
                          | #{restaurant.address.zipcode}
                      else
                        p Address: N/A
                      p Borough: #{restaurant.borough}
                      p Cuisine: #{restaurant.cuisine}
                    div.restaurant-actions
                      button.update-button(type="button")
                        i.fas.fa-sync
                      button.delete-button(type="button" data-restaurant-id=restaurant.restaurant_id)
                        i.fas.fa-trash-alt
                // Pagination code
                if pages && pages.length > 1
                  nav.pagination-nav
                    ul.pagination-list
                      li.pagination-item
                        a.pagination-link(href=`/api/search?page=${currentPage - 1}` class=(currentPage === 1 ? 'disabled' : '')) Prev
                      each page in pages.slice(0, 10)
                        li.pagination-item(class=(page === currentPage ? 'active' : ''))
                          a.pagination-link(href=`/api/search?page=${page}`)= page
                      if pages.length > 10
                        // Add a ">>" button for the next set of 10 pages
                        li.pagination-item
                          a.pagination-link(href=`/api/search?page=${pages[9] + 1}`) &raquo;
                      li.pagination-item
                        a.pagination-link(href=`/api/search?page=${currentPage + 1}` class=(currentPage === totalPages ? 'disabled' : '')) Next
                // Pagination code
            else
              p.none-notification No restaurants found!
    include ../partials/footer
